<footer class="footer text-center">
<p>Copyright &copy; {{ now.Format "2006" }} {{ .Site.Params.headerUsername }} -
<span class="credit">
	Powered by
	<a target="_blank" href="https://gohugo.io">Hugo</a>
	and
	<a target="_blank" href="https://github.com/LordMathis/hugo-theme-nix/">Nix</a> theme.
</span>
</p>
</footer>
